<template>
  <section class="single-recipe">
    <h1>{{ recipe.title }}</h1>
    <div>
      <img class="recipe-image" :src="recipe.thumbnail" :alt="recipe.title" />
    </div>
    <p>{{ recipe.descriptionText }}</p>
  </section>
</template>

<script>
  export default {
    async asyncData(context) {
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            resolve({
              recipe: [
                {
                  id: "1",
                  title: "Ikan Bumbu",
                  previewText: "Ikan yang diisi dengan bumbu dengan rasa yang super sedap",
                  descriptionText: "Enak Banget Ngab",
                  thumbnail: "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/20190503-delish-pineapple-baked-salmon-horizontal-ehg-450-1557771120.jpg?crop=0.669xw:1.00xh;0.173xw,0&resize=640:*"
                },
                {
                  id: "2",
                  title: "Ayam Geprek",
                  previewText: "Ayam Yang digeprek dengan bumbu pedas",
                  descriptionText: "Enak Banget Ngab",
                  thumbnail: "http://cdn.cnn.com/cnnnext/dam/assets/160222141838-indonesian-food-ayam-goreng-2010-1900px.jpg"
                }
              ].find(el => el.id === context.params.id)
            })
          })
        })
    }
  }
</script>

<style scoped>
  .single-recipe {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 30px;
  }

  .recipe-image {
    width: 100%;
  }
</style>