<template>
  <section class="recipes">
    <Recipe 
      v-for="recipe in recipes"
      :key="recipe.id"
      :id="recipe.id"
      :title="recipe.title" 
      :previewText="recipe.previewText" 
      :thumbnail="recipe.thumbnail" />
  </section>
</template>

<script>
  import Recipe from '@/components/Recipe';
  import axios from 'axios';

  export default {
    components: {
      Recipe
    },
    async asyncData() {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve({
            recipes: [
              {
                id: "1",
                title: "Ikan Bumbu",
                previewText: "Ikan yang diisi dengan bumbu dengan rasa yang super sedap",
                descriptionText: "Enak Banget Ngab",
                thumbnail: "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/20190503-delish-pineapple-baked-salmon-horizontal-ehg-450-1557771120.jpg?crop=0.669xw:1.00xh;0.173xw,0&resize=640:*"
              },
              {
                id: "2",
                title: "Ayam Geprek",
                previewText: "Ayam Yang digeprek dengan bumbu pedas",
                descriptionText: "Enak Banget Ngab",
                thumbnail: "http://cdn.cnn.com/cnnnext/dam/assets/160222141838-indonesian-food-ayam-goreng-2010-1900px.jpg"
              }
            ]
          })
        }, 1500)
      })
      // const recipes = await axios.get('https://gitlab.com/misakamikoto116/nuxtjstestingdb/-/raw/main/db.json');
      // return recipes;
    },
  }
</script>

<style scoped>
  .recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
</style>