<template>
  <div>
    <Header />
    <Nuxt />
  </div>
</template>

<script>
import Header from '@/components/layouts/Header';

export default {
  components: {
    Header
  }
}
</script>

<style>

</style>
