<template>
  <header>
    <nav>
      <ul>
        <li><NuxtLink to="/">Starting Page</NuxtLink></li>
        <li><NuxtLink to="/recipes">Recipes</NuxtLink></li>
        <li><NuxtLink to="/about">About</NuxtLink></li>
      </ul>
    </nav>
  </header>
</template>

<style scoped>
 header {
   width: 100%;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: #521751; */
   background-color: #bbb;
   padding: 30px;
   font-weight: bold;
   margin-bottom: 20px;
 }

 ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 li {
   margin: 0 10px;
 }

 a {
   text-decoration: none;
 }
</style>